<app-header-page page="Login"></app-header-page>

<div class="container">
  <h3 class="title">Create an account</h3>
  <form [formGroup]="loginForm">
    <div class="alert alert-danger" *ngIf="errorMessage">{{errorMessage}}</div>
    <div class="mb-3">
      <label for="username" class="form-label">Matricule</label>
      <input type="text" class="form-control" formControlName="username" id="username" aria-describedby="username">
      <div *ngIf="loginForm.hasError('required', 'username')"></div>
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input type="password" class="form-control" formControlName="password" id="password">
      <div *ngIf="loginForm.hasError('required', 'password')"></div>
    </div>
    <button type="submit" class="btn btn-success" [disabled]="loginForm.invalid" (click)="onSubmit()">Log</button>
  </form>
</div>

